{% extends 'base.html.twig' %}

{% block title %}Habits{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>My Habits</h2>
            </div>
        </div>
    </div>
{% endblock %}
